<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="../css/bulma.min.css">

</head>

<body>
  <nav class="navbar is-primary">
    <div class="container is-widescreen">
      <div class="navbar-brand">
      <a class="navbar-item" href="/">AndmeTabel
      </a>
    </div>
    </nav>
    </div>

  <div class="container">
    <div class="container is-widescreen">
