<%- include("../partials/header"); %>

<div class="columns is-two-fifths">
<div class="column">
  <h3 class="title is-1 has-text-centered" style="margin-top: 30px">Lehte ei leitud!</h3>
  <br>
  <h3 class="subtitle is-3 has-text-centered"><a href="/"> Avalehele</a></h3>

</div>
</div>


<%- include("../partials/footer"); %>
